@import "./../../../../assets/styles/funtions.scss";

@font-face {
  font-family: Josefin Sans;
  src: url(./../../../../assets/fonts/JosefinSans-VariableFont_wght.ttf);
}

.header_container {
  padding: 1rem;
  margin-left: 20%;
  position: fixed;
  width: 80%;
  background-color: rgba(91, 91, 110, 0.5);
  fa-icon {
    position: absolute;
    padding: 10px;
    min-width: 40px;
    margin-left: 10%;
  }
  input {
    width: 30%;
    padding: 10px;
    text-align: center;
    margin-left: 10%;
    border-radius: 25px;
    text-align: left;
    padding-left: 2rem;
    font-family: Josefin Sans;
    outline: none;
    color: $firt_color;
    font-size: 1rem;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.4)
    );
  }
}
